{% extends "homepage/index.html" %}

{% block title %}
login
{% endblock %}

{% block content %}
<h3 align = "center">Log In</h3>
<form method="post" action="{% url 'login:done'%}">
{% csrf_token %}
<div class="container">
<div class="col-sm-5"><div class="textname">username:</div></div>
<div class="col-sm-7"><input type="text" name="username" /></div>
</div>
<div class="container">
<div class="col-md-5"><div class="textname">password:</div></div>
<div class="col-md-7"><input type="password" name="password" /></div>
</div>
<div class="container">
<div class="col-md-7"><input style="float:right;" type="submit" name="submit" value="log in" /></div>
</div>
</form>

{%endblock%}
